@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  header,
  footer,
  article {
    @apply transition-[background-color,border-color,box-shadow,transform] duration-300 ease-in-out;
  }

  ::selection {
    @apply bg-primary text-text-dark;
  }

  .dark ::selection {
    @apply bg-accent-contrastSurface text-text-dark;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

html {
  @apply text-[17px];
}

body {
  @apply bg-background-light text-text-light;
  font-family:
    var(--font-wanted-sans),
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    sans-serif;
}

.prose code::before,
.prose code::after {
  content: none;
}

[data-rehype-pretty-code-title] {
  @apply text-sm font-semibold text-text-light rounded-t-lg bg-gray-300 px-3 py-1.5;
}

.dark [data-rehype-pretty-code-title] {
  @apply text-text-dark bg-gray-800;
}

[data-rehype-pretty-code-title] + pre {
  @apply rounded-b-lg;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

pre code {
  counter-reset: line;
}

pre code > span {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  line-height: 1.6rem;
}

pre code > span::before {
  content: counter(line);
  counter-increment: line;
  position: absolute;
  left: 0;
  width: 0;
  text-align: right;
  color: #999;
  font-size: 0.8rem;
  line-height: 1.6rem;
}

code[data-theme~='github-light'],
code[data-theme~='github-light'] span {
  color: var(--shiki-light);
}

.dark code[data-theme~='one-dark-pro'],
.dark code[data-theme~='one-dark-pro'] span {
  color: var(--shiki-dark);
}
